/*==========  Desktop First Method  ==========*/

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199px) and (orientation: portrait) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services {
    padding-top: 30px;
    .services-box {
      margin-top: 50px;
    }
  }
}

@media (max-width: 1199px) and (orientation: landscape) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services {
    padding-top: 30px;
    .services-box {
      margin-top: 50px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) and (orientation: portrait) {
  .header {
    .header-right {
      nav {
        display: none;
      }
      .cards {
        margin-left: 30px;
      }
    }
  }
  .slider {
    height: calc(100vh - 30vh);
  }
  .carousel-inner {
    height: calc(100vh - 30vh);
  }
}

@media (max-width: 991px) and (orientation: landscape) {
  .header {
    .header-right {
      nav {
        display: none;
      }
      .cards {
        margin-left: 30px;
      }
    }
  }
  .slider {
    height: calc(100vh - 0vh);
  }
  .carousel-inner {
    height: calc(100vh - 0vh);
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) and (orientation: portrait) {
  .slider {
    height: calc(100vh - 50vh);
  }
  .carousel-inner {
    height: calc(100vh - 50vh);
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .text-boxes {
    .text-boxes-left {
      float: none;
      display: block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0;
    }
    .text-boxes-right {
      float: none;
      display: block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .slider {
    height: calc(100vh - 0vh);
  }
  .carousel-inner {
    height: calc(100vh - 0vh);
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .text-boxes {
    .text-boxes-left {
      float: none;
      display: block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0;
    }
    .text-boxes-right {
      float: none;
      display: block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) and (orientation: portrait) {
  .header {
    width: 100%;
  }
  .slider {
    height: calc(100vh - 0vh);
  }
  .carousel-inner {
    height: calc(100vh - 0vh);
  }
}

@media (max-width: 575px) and (orientation: landscape) {
  .header {
    width: 100%;
  }
  .slider {
    height: calc(100vh - 0vh);
  }
  .carousel-inner {
    height: calc(100vh - 0vh);
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

/*==========  Mobile First Method  ==========*/

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}