html,
body {
  width: 100%;
  background: #ffffff;
}

.container {
  width: 76.875em;
}

.slider {
  width: 100%;
  height: calc(100vh);
}

//.slider-fon {
//  background: rgba(#555556, 0.7);
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  right: 0;
//  left: 0;
//  z-index: 10;
//}

.carousel-inner {
  width: 100%;
  height: calc(100vh);
}

.carousel-control-prev-icon {
  background: url("../img/arrows-left.png") no-repeat center center;
  width: 40px;
  height: 73px;
  &:hover {
    background: url("../img/arrows-left-1.png") no-repeat center center;
    opacity: 1;
  }
}

.carousel-control-next-icon {
  background: url("../img/arrows-right.png") no-repeat center center;
  width: 40px;
  height: 73px;
  &:hover {
    background: url("../img/arrows-right-1.png") no-repeat center center;
    opacity: 1;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  z-index: 20;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
}

.carousel-item-fon {
  background: rgba(#555556, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 40%;
  bottom: 35%;
  left: 15%;
  z-index: 20;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  h4 {
    font-size: 36px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }
  h3 {
    font-size: 52px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
  button[type="button"] {
    padding-top: 21px;
    padding-bottom: 21px;
    width: 170px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    -webkit-transition: box-shadow .3s linear;
    -moz-transition: box-shadow .3s linear;
    -ms-transition: box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    transition: box-shadow .3s linear;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
}

.carousel-indicators {
  li {
    position: relative;
    flex: 1 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    max-width: 11px;
    height: 11px;
  }
  .active {
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(211, 193, 173);
    border-radius: 50%;
    max-width: 15px;
    height: 15px;
    opacity: 1;
    margin-top: -2px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.carousel-item {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: 0s linear opacity;
  -moz-transition: 0s linear opacity;
  -o-transition: 0s linear opacity;
  transition: 0s linear opacity;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  width: 100%;
  height: 100%;
}

.header {
  @include clearfix();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  .header-left {
    float: left;
    .logo {
      @include clearfix();
      margin-top: 40px;
      a {
        float: left;
      }
      span {
        font-size: 34px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
      }
    }
  }
  .header-right {
    margin-top: 40px;
    float: right;
    nav {
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 20px;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: 14px;
            font-family: "Montserrat";
            color: #fff;
            -webkit-transition: color .3s linear;
            -moz-transition: color .3s linear;
            -ms-transition: color .3s linear;
            -o-transition: color .3s linear;
            transition: color .3s linear;
            &:hover {
              color: #c7b299;
              text-decoration: none;
            }
          }
        }
      }
    }
    .cards {
      padding-top: 14px;
      padding-bottom: 14px;
      display: inline-block;
      margin-left: 40px;
      margin-right: 25px;
      cursor: pointer;
    }
    .search {
      padding-top: 14px;
      padding-bottom: 14px;
      display: inline-block;
      cursor: pointer;
      button[type="button"] {
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        padding: 0;
      }
    }
  }
}